
<div class="main-menu">
  <div class="main-menu-form">
    <div class="main-menu-btn"><i class="fa fa-bars"></i></div>
  </div>  
  <div class="main-menu-content">
    <!-- main logo -->
    <div class="main-menu-logo">
      <h2>Menú</h2>
    </div>
    <!-- navigation -->
    <ul class="main-menu-nav">
      <li><a href="/cliente/Form" class="orange"><i class="fa fa-user fa-fw"></i>&nbsp;Clientes</a></li>
      <li><a href="/productos" routerLinkActive="active" class="yellow"><i class="fa fa-flask fa-fw front"></i>&nbsp; Productos</a></li>
      <li><a href="/compras" class="red"><i class="fa fa-graduation-cap fa-fw"></i>&nbsp; Comprar</a></li>
      <li><a href="#" class="purple"><i class="fa fa-info-circle fa-fw"></i>&nbsp; Acerca de</a></li>
    </ul>

    <a href="#" class="main-menu-close"><i class="fa fa-home fa-fw"></i>&nbsp; Inicio</a>
  </div>
</div>

<div class="container" id="margen" >
  <div class="container-fluid" >
    
    <router-outlet></router-outlet>
  </div>    
</div>



