

    <!-- ............................................................................... -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #454545;">
  <a class="navbar-brand" href="inicio">DELISHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cliente/list" routerLinkActive="active"><i class="fa fa-user fa-fw"></i> Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos" routerLinkActive="active"><fa-icon [icon]="faPlusCircle"></fa-icon> Productos</a>
      </li>
      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" routerLinkActive="active" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faListAlt"></fa-icon> Reportes </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/productos-vendidos" routerLinkActive="active">Ventas Totales</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/total-ventas" routerLinkActive="active">Ventas por Categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/reporte-fecha" routerLinkActive="active">Ventas por fecha</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carrito" routerLinkActive="active"><fa-icon [icon]="faShoppingCart"></fa-icon> Carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compras" routerLinkActive="active"><i class="fa fa-flask fa-fw front"></i> Catálago</a>
      </li>
      <li class="nav-item" *ngIf="!estaLogueado();then ingresar else salir" >
        
      </li>
      <ng-template #ingresar>
        <a class="nav-link" routerLinkActive="active" routerLink="/ingresar">
          <fa-icon [icon]="faSignInAlt"></fa-icon> Login
        </a>
      </ng-template>
      <ng-template #salir>
        <a class="nav-link" routerLinkActive="active" (click)='logout()'>
          <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
        </a>
      </ng-template>
            
    </ul>
  </div>
</nav>



<div class="container" id="margen" >
  <div class="container-fluid" >
    
    <router-outlet></router-outlet>
  </div>
  
</div>
<!-- End copyright  -->
<div class="container body-content">
  <hr/>
  <footer>
  
    <div class="footer-copyright">
      <p class="footer-company">Todos los Derechos Reservados. &copy; 2020 <a href="#">DeliShop</a> </p>
    </div>
</footer>
</div>

<!-- <script src="../assets/js/jquery.superslides.min.js"></script> -->
<!-- <script src="../assets/js/bootstrap-select.js"></script> -->






