

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
        <fieldset>
    <table class="table">
        <tbody>
            <h1>{{title}}</h1>
            
            <tr>
                <td>Documento</td>
                <td> <input formControlName="documento" [(ngModel)]="cliente.documento" type="number"></td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td><input formControlName="apellidos" [(ngModel)]="cliente.apellidos" type="text"></td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td><input formControlName="nombres" type="text" [(ngModel)]="cliente.nombres"></td>
            </tr>
            <tr>
                <td>Fecha nacimiento</td>
                <td><input formControlName="fecha_nac" type="date" [(ngModel)]="cliente.fecha_nac" ></td>
            </tr>
            <tr>
                <td>Celular</td>
                <td><input type="number" formControlName="celular" [(ngModel)]="cliente.celular"></td>
            </tr>
            <tr>
                <td>Correo</td>
                <td><input type="text" formControlName="correo" [(ngModel)]="cliente.correo"></td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td><input type="text" formControlName="direccion" [(ngModel)]="cliente.direccion"></td>
            </tr>
            <tr>
                <td>usuario</td>
                <td><input type="text" formControlName="usuario" [(ngModel)]="cliente.usuario"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" formControlName="password" [(ngModel)]="cliente.password"></td>
            </tr>    
            <tr>
                <td></td>
                <td class="btn-group"><button class="btn btn-primary" type="submit">Guardar</button><br>
                <button class="btn btn-danger" type="reset">Cancelar</button><br></td>
            </tr>    
            <button [routerLink]="['/cliente/list']" class="btn btn-info" >&nbsp;Volver</button>
        </tbody>
        
    </table>
    
    
</fieldset>
</form>
