<div id="contenedor">
  <div class="col-md-4" *ngFor="let producto of productos| paginate:{itemsPerPage: 6, currentPage:p}">
      <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
          {{producto.nombre}}
          
        </div>
        <img class="card-img-top" [src]="producto.imageUrl">
        <div class="card-body">
            <!-- <p>{{producto.stock}} unidades</p> -->
            <h6>{{producto.precio| currency }}</h6>
          <a (click)="agregarCarrito(producto)" class="btn btn-success btn-block" >
            AGREGAR AL CARRITO
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </footer>
